html, body {
  height:100%;
  font-family: 'Open Sans', sans-serif;
  color: #525558;
  font-size: 15px;
  font-weight: normal;
}

h1, h2, h3, h4, h5, legend, h6 {
  color: #222222;
  font-weight: normal;
}

h1{
	font-size: 32px;
	font-family: 'Signika', sans-serif;
}

/* Logo */


.logo {
	margin: 0 auto;
}

/* Custom container  full */

.cover-home{
	background: url(../img/bg.jpg) no-repeat bottom center;
	background-size: cover !important;
	height: 812px;
}

.inner{
	text-align: center;
	max-width: 500px;
}

.inner p{
	font-size: 20px;
	color: #D2CDCD;
	line-height: 1.6em;
}

.custom-btn {
	color: #fff;
	border-radius: 3px;
	border: none;
	background: #9013FE;
	padding: 9px 20px;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Signika', sans-serif;
}

/* Custom container  full */

.intro{
	text-align: center;
	max-width: 700px;
	margin: 70px auto 70px;
}

.intro p{
	font-size: 16px;
	line-height: 30px;
}

/* testimonials */

.testimonial1{
	margin: 0;
	padding: 0 15px 0 0;
}

.testimonial2{
	margin:0;
	padding: 0 0 0 15px;

}

.quote{
	  background: #9013FE;
	  font-size: 18px;
	  line-height: 32px;
	  height: 100%;
	  vertical-align: middle;
	  padding: 95px 50px;
	  margin-bottom: 5%;
	  color: #fff;
}

.gift{
	max-width: 850px;
	margin: 70px auto;
}

.p1{
	text-align: center;
	border:1px dashed #CED3DA;
	padding: 15px 30px;
	border-radius: 5px;
	margin: 10px 0;
}
.p1:hover{
	background: #f6f6f6;
}

#Discover img{
	width: 100%;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }

/* Landscape phones and down */
@media (max-width: 480px) {
.right, .left{
	padding: 20px 20px;
}
.left{
	border-bottom: 1px solid #fafafa;
	border-right: none;
}
span.clp{
	color: #56B881;
	font-size: 14px;
}
}