<div class="container gift clearfix">
    <div class="col-md-3">
    	<div class="p1">
	        <img alt="consumers" class="products" src="img/img4.png" width="50" height="90">
	        <h4>Premio</h4>
	        <p>Sorpresa</p>
        </div>
    </div>
    <div class="col-md-3">
    	<div class="p1">
	        <img alt="consumers" class="products" src="img/img4.png" width="50" height="90">
	        <h4>Premio</h4>
	        <p>Sorpresa</p>
        </div>
    </div>
    <div class="col-md-3">
    	<div class="p1">
	        <img alt="consumers" class="products" src="img/img4.png" width="50" height="90">
	        <h4>Premio</h4>
	        <p>Sorpresa</p>
        </div>
    </div>
    <div class="col-md-3">
    	<div class="p1">
	        <img alt="consumers" class="products" src="img/img4.png" width="50" height="90">
	        <h4>Premio</h4>
	        <p>Sorpresa</p>
        </div>
    </div>
</div>