<section id="discover">
    <div class="container intro">
        <h1>¿Cómo participar en The Glow City?</h1>
    </div>
    <div class="container gift clearfix">
        <div class="row">
            <div class="col-md-3">
                <div class="p1">
                    <img alt="consumers" class="products" src="img/img4.png" width="50" height="90">
                    <h4>Premio</h4>
                    <p>Sorpresa</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p1">
                    <img alt="consumers" class="products" src="img/img6.png" width="50" height="90">
                    <h4>Premio</h4>
                    <p>Sorpresa</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p1">
                    <img alt="consumers" class="products" src="img/img7.png" width="50" height="90">
                    <h4>Premio</h4>
                    <p>Sorpresa</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p1">
                    <img alt="consumers" class="products" src="img/img8.png" width="50" height="90">
                    <h4>Premio</h4>
                    <p>Sorpresa</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-btn">
        <a href="#wall">
            <button class="btn btn-success ipm-btn custom-btn">ROMPER BLOQUES DEL MURO</button>
        </a>
    </div>
</section>