<main class="cd-main-content">
    <div class="container intro">
        <h1>¿Qué es The Glow City?</h1>
        <p>Swiftype allows you to see what your users are searching for, clicking on, and engaging with—while they are still searching, clicking</p>
    </div>
    <section id="Discover" class="container">
        <div class="cell col-md-6">
            <div class="col-md-12 quote">In a survey of our customers, 85% are extremely likely to recommend Square Capital.</div>
            <div class="col-xs-6 col-md-6 testimonial1"><img src="img/img1.png" class="img-discover"></img>
            </div>
            <div class="col-xs-6 col-md-6 testimonial2"><img src="img/img2.png" class="img-discover"></img>
            </div>
        </div>
        <div class="col-md-6"><img src="img/img3.png" class="img-discover"></img>
        </div>
    </section>
</main>