<div class="container features clearfix">
        <div class="col-lg-3">
          <img alt="consumers" class="ico" src="img/ico1.png" width="56" height="62">
          <h5>Easy Subscription</h5>
          <p>Customers can book online 24/7—wherever they are—and select the service, staff member, and time that works for them.</p>
        </div>
        <div class="col-lg-3">
          <img alt="consumers" class="ico" src="img/ico1.png" width="56" height="62">
          <h5>12 World-Class Beers</h5>
          <p>Customers can book online 24/7—wherever they are—and select the service, staff member, and time that works for them.</p>
        </div>
        <div class="col-lg-3">
          <img alt="consumers" class="ico" src="img/ico1.png" width="56" height="62">
          <h5>Drink Together</h5>
          <p>Customers can book online 24/7—wherever they are—and select the service, staff member, and time that works for them.</p>
        </div>
        <div class="col-lg-3">
          <img alt="consumers" class="ico" src="img/ico1.png" width="56" height="62">
          <h5>Fast Delivery</h5>
          <p>Customers can book online 24/7—wherever they are—and select the service, staff member, and time that works for them.</p>
        </div>
</div>