<div class="container features clearfix">
        <div class="col-md-3">
          <img alt="consumers" class="ico" src="img/ico1.png" width="56" height="62">
          <h4>Fácil Suscripción</h4>
          <p>Puedes suscribirte mientras vas en el metro, en tu oficina o sin moverte de tu cama. Es muy simple!</p>
        </div>
         <div class="col-md-3">
          <img alt="consumers" class="ico" src="img/ico1.png" width="56" height="62">
          <h4>Reparto Rápido y Seguro</h4>
          <p>Nos preocupamos que tus cervezas sean entregadas en tu hogar, en tus manos y de forma oportuna.</p>
        </div>
        <div class="col-md-3">
          <img alt="consumers" class="ico" src="img/ico1.png" width="56" height="62">
          <h4>Variedad y Descuentos</h4>
          <p>Tus cervezas nunca se repetirán y pagar semestral o anualmente te sale más barato!</p>
        </div>
        <div class="col-md-3">
          <img alt="consumers" class="ico" src="img/ico1.png" width="56" height="62">
          <h4>Cervezas Clase Mundial</h4>
          <p>Elegímos las mejores cervezas artesanales que existen en Chile. Somos amantes de la cerveza.</p>
        </div>
</div>