<footer>
	<div class="container footer">
		<img alt="The Glow City" class="logoFooter" src="../img/glowFooter.png" width="151" height="30">
		<ul class="footerList">
            <li class="footerItem"><a href="">Status</a></li>
            <li class="footerItem"><a href="">Blog</a></li>
            <li class="footerItem"><a href="">About</a></li>
            <li class="footerItem"><a href="">Contact</a></li>
            <li class="footerItem"><a href="">Terms and Privacy</a></li>
            <li class="footerItem"><a href="">Help</a></li>
        </ul>
		<p>© 2015 The Glow City, Inc. Made in Santiago de Chile</p>
	</div>
</footer>
