<section id="gifts">
    <div class="container intro">
        <h1>Nuestros Premios</h1>
    </div>
    <div class="container gift clearfix">
        <div class="row">
            <div class="col-md-3">
                <div class="g1">
                    <img alt="consumers" class="products" src="img/img5.png" width="90" height="68">
                </div>
            </div>
            <div class="col-md-3">
                <div class="g1">
                    <img alt="consumers" class="products" src="img/img5.png" width="90" height="68">
                </div>
            </div>
            <div class="col-md-3">
                <div class="g1">
                    <img alt="consumers" class="products" src="img/img5.png" width="90" height="68">
                </div>
            </div>
            <div class="col-md-3">
                <div class="g1">
                    <img alt="consumers" class="products" src="img/img5.png" width="90" height="68">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="g1">
                    <img alt="consumers" class="products" src="img/img5.png" width="90" height="68">
                </div>
            </div>
            <div class="col-md-3">
                <div class="g1">
                    <img alt="consumers" class="products" src="img/img5.png" width="90" height="68">
                </div>
            </div>
            <div class="col-md-3">
                <div class="g1">
                    <img alt="consumers" class="products" src="img/img5.png" width="90" height="68">
                </div>
            </div>
            <div class="col-md-3">
                <div class="g1">
                    <img alt="consumers" class="products" src="img/img5.png" width="90" height="68">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="g1">
                    <img alt="consumers" class="products" src="img/img5.png" width="90" height="68">
                </div>
            </div>
            <div class="col-md-3">
                <div class="g1">
                    <img alt="consumers" class="products" src="img/img5.png" width="90" height="68">
                </div>
            </div>
            <div class="col-md-3">
                <div class="g1">
                    <img alt="consumers" class="products" src="img/img5.png" width="90" height="68">
                </div>
            </div>
            <div class="col-md-3">
                <div class="g1">
                    <img alt="consumers" class="products" src="img/img5.png" width="90" height="68">
                </div>
            </div>
        </div>
    </div>
    <a href="#wall"><button class="btn btn-success ipm-btn custom-btn">ROMPER BLOQUES DEL MURO</button></a>
</section>