<header>
	<div class="cover-home">
	  {% include nav.html %}
      <div class="container inner	">
	      <div class="col-lg-7 v-center">
	        <h1>Drink Better Beers</h1>
	         <p>Detrás de cada cerveza hay una historia, nosotros elegimos las mejores y las hacemos llegar todos los meses de manera segura y rápida a la puerta de tu casa.</p>
	         <a href="{{ site.baseurl }}/subscription/" class="btn btn-outline btn-lg">Suscríbete Ahora</a>
	      </div>
      </div>
    </div>
</header>
