<nav>
    <div class="col-lg-2 logoNav">
        <a href=""><img src="img/logo-glowcity.png" class="logo img-responsive" width="151" height="34"></a>
    </div>
    <div class="col-lg-8">
        <ul>
            <li><a href="#intro">The Glow City</a></li>
            <li><a href="#section2">Cómo participar</a></li>
            <li><a href="#gifts">Premios</a></li>
            <li><a href="#partners">Auspiciadores</a></li>
            <li><a href="#wallpeople">Muro de Grafitis</a></li>
        </ul>
    </div>
    <!--     <div class="col-lg-2 btnNav">
        <a href="#wall">
            <button class="btn btn-success ipm-btn custom-btn" href="#wall">Comenzar a descubrir</button>
        </a>
    </div> -->
</nav>