<main class="cd-main-content">
    <div class="container titles">
        <span class="titleBox">Auspiciadores</span>
        <ul class="partnerList">
            <li class="partners"><a href="" class="partnerItem"><img alt="consumers" class="products img-responsive" src="img/partner.png" width="120" height="35"></a></li>
            <li class="partners"><a href="" class="partnerItem"><img alt="consumers" class="products img-responsive" src="img/partner.png" width="120" height="35"></a></li>
            <li class="partners"><a href="" class="partnerItem"><img alt="consumers" class="products img-responsive" src="img/partner.png" width="120" height="35"></a></li>
            <li class="partners"><a href="" class="partnerItem"><img alt="consumers" class="products img-responsive" src="img/partner.png" width="120" height="35"></a></li>
            <li class="partners"><a href="" class="partnerItem"><img alt="consumers" class="products img-responsive" src="img/partner.png" width="120" height="35"></a></li>
        </ul>
    </div>
</main>