	<div class="container pricing">
    	<div class="row title"><h1>Precio de Suscripción<h1></div>
    	<div class="col-md-6 left">
    		<h4><strong>Mensualmente</strong>, suscripción básica.</h4>
    		<span class="money">$</span>
    		<span class="price">16.290</span>
    		<span class="clp">/ Por mes</span>
    		<p>Suscripción por <strong>8 cervezas mensuales</strong>, 3 tipos de cervezas artesanales y stickers para que compartas con tus amigos.</p>
    	</div>
    	<div class="col-md-6 right">
    		<h4><strong>Trimestral</strong>, 20% de ahorro mensual.</h4>
    		<span class="money">$</span>
    		<span class="price">13.270</span>
    		<span class="clp">/ Por mes</span>
    		<p><strong>$40.290 por 3 meses</strong>, recíbes 8 cervezas mensuales, un cupón de <strong>$5.000</strong> de descuento para un amigo y te enviarémos una polera de regalo.</p>
    	</div>
	</div>
	<div class="container call">
		<a href="{{site.baseurl}}/subscription" class="btn btn-outline btn-lg">Descubre tu Suscripción</a>
	</div>
