	<div class="container pricing">
    	<div class="row title"><h1>Subscription Pricing<h1></div>
    	<div class="col-md-6 left">
    		<h4><strong>Monthly</strong> for happiness, for friends!</h4>
    		<span class="money">$</span>
    		<span class="price">13.290</span>
    		<span class="clp">/por month</span>
    		<p>6 Beers compatible with all Avery name badge kits Optionally customize to fit any paper format</p>
    	</div>
    	<div class="col-md-6 right">
    		<h4><strong>Yearly</strong>, 20% off the best for you.</h4>
    		<span class="money">$</span>
    		<span class="price">76.590</span>
    		<span class="clp">/por year</span>
    		<p>6 beers for compatible with all Avery name badge kits Optionally customize to fit any paper format</p>
    	</div>
	</div>
	<div class="container call">
		<a href="{{site.baseurl}}/subscription" class="btn btn-outline btn-lg">Explore the proccess</a>
		<p>We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
	</div>
