<div class="container features clearfix">
        <div class="col-lg-3">
          <img alt="consumers" class="products" src="img/product1.png">
          <h4>Shipwreck</h4>
          <p>This hearty Scottish-style amber is our flagship ale, brewed since 1998. UK malts, hops and our proprietary.</p>
        </div>
        <div class="col-lg-3">
          <img alt="consumers" class="products" src="img/product2.png">
          <h4>Seaport Vanilla Stout</h4>
          <p>Our take on the classic Irish stout style is complex, malty and satisfying.</p>
        </div>
        <div class="col-lg-3">
          <img alt="consumers" class="products" src="img/product3.png">
          <h4>Tasman Pale Ale</h4>
          <p>The addition of pure Madagascan vanilla beans perfectly complements the rich roasted malt notes of chocolate and coffee.</p>
        </div>
        <div class="col-lg-3">
          <img alt="consumers" class="products" src="img/product4.png">
          <h4>Race Rocks</h4>
          <p>The addition of pure Madagascan vanilla beans perfectly complements the rich roasted malt.</p>
        </div>
</div>